<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.whut.pocket.config.mapper.ConfigMapper">
    <!--暂时不使用缓存-->
    <!--<cache eviction="LRU" flushInterval="60000" size="1024" readOnly="true"/>-->

    <resultMap id="getConfigRM" type="edu.whut.pocket.config.vo.ConfigVo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="name_en" column="name_en"/>
        <result property="value_type" column="value_type" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result property="create_time" column="create_time"/>
        <result property="value" column="value"/>
        <result property="parent_id" column="parent_id"/>
    </resultMap>

	<select id="getConfig" resultMap="getConfigRM">
		select * from config c
		where c.name_en = #{0}
	</select>

</mapper>
